<div class="container p-4">
    <div class="row">
        {{#each users}}
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{username}}
                    </h3>
                    <p class="m-2">{{fullname}}</p>
                    <h9>{{email}}</h1>
                        <p>{{timeago created_at}}</p>
                        <a href="/dashboard/delete/{{id}}" class="btn btn-danger disabled">Delete Link</a>
                        <a href="dashboard/edit/{{id}}" class="btn btn-secondary">Edit</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not links saved yet.</p>
                <a href="/links/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="user" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr class="">
                    <th data-priority="1">id</th>
                    <th data-priority="2">username</th>
                    <th data-priority="3">fullname</th>
                    <th data-priority="4">email</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>

<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<script src = "http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer ></script>

<script>
    $(document).ready(function () {
        const url = '/src/routes/dashboard.js'; 
        console.log(url)
        $('#user').DataTable({
            data: url,
            columns: [
                { data: "id" },
                { data: "username" },
                { data: "fullname" },
                { data: "email" }
            ],
            responsive: true
        })
    })
</script>